/* Style for the header */
#header {
    text-align: center;
}

/* Style for the App */
#container {
margin-left: 5%;
margin-right: 5%;
}

#left {
float: left;
width: 30%;
overflow: hidden;
}

#center {
float: left;
width: 35%;
overflow: hidden;
}

#right {
float: left;
width: 25%;
overflow: hidden;
}