h1 {
  text-align: center;
  color: #333;
}

h2,
strong {
  color: #333;
}

body {
  color: #555;
  background: #f5f7f9;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

/* Style for the header */
#header {
  text-align: center;
}

/* Style for the App */
#container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-left: 5%;
  margin-right: 5%;
}
.item {
  flex-grow: 1;
}

#center {
  flex-grow: 2;
}

/* Small screens */
@media all and (max-width: 860px) {
  #container {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
