<div id="header">
	<h1>How much did your meeting cost?</h1>

	Select the meeting length and number of participants to get started.
	<br /><br />
</div>

<div id="container">
	<div class="item" id="left">
		{{meeting-time}}
	</div>
	<div class="item" id="center">
		{{#each model as |data|}}
		  {{participants-list participant=data}}
		{{/each}}
	</div>
	<div class="item" id="right">
		{{meeting-cost participants=model}}
	</div>
</div>
